<% var storage = widget.storage %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Market Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <style>
      html, body {
          height: 100%;
          width: 100%;
          margin: 0;
          margin: 0px;
          padding: 0px;
          font-family: 'Prompt', sans-serif;
          overflow: hidden;
      }
      .box {
          text-align: center;
      }
      .wrapper{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }
      #alert-image {
          text-align: center;
          height: 100%;
          width: 100%;
          display: table-cell;
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: contain;
      }
      body{
          <%= widget.storage.background_color ? `background-color:${widget.storage.background_color};` : '' %>
      }

      body {
        color: #e0e1e6;
        padding: 36px 0px 36px;
      }

      .flex-column {
          display: flex;
          flex-direction: column;
      }
      .flex-1 {
          flex: 1;
      }
      .flex-2 {
          flex: 2;
      }
      .status {
        content: ' ';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-top: 4px;
        margin-right: 10px;
        margin-left:10px;
        border: 1px solid #000;
        border-radius: 12px;
      }
      .status.online {
        background-color: #94E185;
        border-color: #78D965;
        box-shadow: 0px 0px 4px 1px #94E185;
      }

      .status.offline {
        background-color: #C9404D;
        border-color: #C42C3B;
        box-shadow: 0px 0px 4px 1px #C9404D;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
      const socket = io();
      socket.on("widget::<%= widget.id %>", (data) => {
        show(data);
      });
      socket.on("widget::<%= widget.id %>:reload", () => {
        window.location.reload();
      });
    </script>
  </head>

  <body>
    <div class="container animate__animated animate__fadeIn">
      <div>
        <h1 style="display: inline" class="align-middle">Market</h1>
        <div id="market_open"></div>
      </div>
    </div>
    <script>

      var widgetStorage = <%- JSON.stringify(storage) %>;

      var ani
      var ani2
      var to
      var url = "/upload/widgets/<%= widget.id %>/"

      function show({key, data}) {
        console.log("🚀 ~ file: show.ejs ~ line 128 ~ show ~ key, data", key, data)
        if(key === "STATUS"){
          const {marketOpen} = data
          $("#market_open").removeClass()
          $("#market_open").addClass("animate__animated animate__fadeIn")
          if(marketOpen){
            $("#market_open").addClass("status online")
          } else {
            $("#market_open").addClass("status offline")
          }
        }


      }
    </script>
  </body>
</html>
